<li class="contact">
    <h1>{{firstName}} {{lastName}}</h1>
    {{#if avatar}}
        <img src="{{avatar}}"></img>
    {{/if}}
    {{#if birthday}}
        <h4 class="birthday"> {{birthday}}</h4>
    {{/if}}
    {{#each phoneNumbers}}
        <h4 class="phone">{{type}} - {{phoneNumber}}</h4>
    {{/each}}
    <dl>
    {{#each address}}
        <dt>{{desc}}</dt>
            <dd>{{street}}</dd>
            <dd>{{city}}, {{state}}</dd>
            <dd>{{zip}}</dd>
    {{/each}}
    </dl>
</li>